<!DOCTYPE html>
<% provide(:title, "About") %>
<html>
  <head>
    <title><%= yield(:title) %> | DrawParty</title>
  </head>
  <body>
    <h1>ABOUT</h1>
    <p>
      Info here for About Page
    </p>
  </body>
</html>
