// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$dark-color:  #2A388F;
$light-color: #27A9E1;

html { 
    height: 100%;
}

.signUp {
    text-align: left;
    margin: 0 auto;
    width: 400px;
}
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}
body {
    height: 100%;
    
    background: #2A388F;
    background: -webkit-linear-gradient(-45deg, #FFFFFF, $light-color, $dark-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, #FFFFFF, $light-color, $dark-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, #FFFFFF, $light-color, $dark-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #FFFFFF, $light-color, $dark-color); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}
.header {
    padding: 25px 25px 0px 25px;
    background-color: rgba(255,255,255, 0.6);
    border-bottom: 3px solid $dark-color ;
    font-size: 200%;
}
.navHeader {
    margin-top: 25px;
    border-top: 3px solid $dark-color;
}

// 
.userIndex {
    border-collapse: collapse;


}

.userIndex tbody tr th {
    text-align:center;
    min-width: 75px;
    padding: 5px;
    border: 1px solid $dark-color;
    
}

.userIndex tbody tr td {
    padding: 4px;
        border: 1px solid $dark-color;
}

.container {
    margin-top: 10px;
    background-color: rgba(255,255,255, 0.6);
    width: 80%;
    border-radius: 25px;
    padding: 25px;
    border: 3px solid $dark-color;
    background:#FFF;
}

#canvas {
    background: #FFFFFF;
}